
body{
	background-color: grey;
}

h1{
			color:pink;
			font-size: 90px;
			text-decoration: underline;
		}
		
		h3{
			color:pink;
			font-size: 90px;
			text-decoration: underline;
		}

		h3{
			color:pink;
			font-size: 90px;
			text-decoration: underline;
		}
		.saimon{
			font-size: 60px;
			color:red;

		}
#first{
font-size: 150px;
}
span{
	
}

h2 span {
	font-style: italic;
	 text-decoration: line-through;
}